# This file is part of the django-environ-2.
#
# Copyright (C) 2021 Serghei Iakovlev <egrep@protonmail.ch>
# Copyright (C) 2013-2021 Daniele Faraglia <daniele.faraglia@gmail.com>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

[report]
precision = 2
show_missing = True

[html]
directory = htmlcov

[xml]
output = coverage.xml

[run]
branch = True
parallel = True
data_file = coverage.db
# A list of file name patterns, the files to leave
# out of measurement or reporting.
omit =
    tests/*
    .venv/*
    */__pycache__/*
