# This file is part of the django-environ-2.
#
# Copyright (C) 2021 Serghei Iakovlev <egrep@protonmail.ch>
# Copyright (C) 2013-2021 Daniele Faraglia <daniele.faraglia@gmail.com>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

name: Docs

on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'release/**'
      - 'hotfix/**'

  pull_request:
    branches:
      - master
      - 'v[0-9]+.[0-9]+.x'

jobs:
  lint:
    runs-on: ubuntu-20.04
    name: Build and test package documentation

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip --use-feature=in-tree-build install tox tox-gh-actions

      - name: Build and test package documentation
        run: tox -e docs
